@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: "Open Sans", Arial, sans-serif;
    &::selection {
        background-color: rgb(0, 0, 255);
        color: #fff;
    }
}

img {
    user-select: none;
}