.menuIntroduction_section {
    .example_products_container {
        margin-top: 15vh;
        padding: 5vh 0;
        height: auto;
        z-index: 10;
        .products_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            margin: 0 auto;
            .product {
                color: #fff;
                width: calc(90%/4);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img {
                    object-fit: cover;
                    height: 12.5vh;
                }
                h6 {
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.4rem;
                    font-weight: 700;
                    letter-spacing: 0.25px;
                    margin: 2rem 0 0;
                    color: red;
                }
                p {
                    font-family: "Montserrat", sans-serif;
                    color: rgb(200, 200, 200);
                    font-size: 17px;
                    font-weight: 400;
                    text-align: center;
                    margin-top: 0.4rem;
                    line-height: calc(17px * 1.3);
                    color: black;
                }
            }
        }
    }
    //!
    .slogan_paragraph {
        font-size: 1.2rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        padding: 0.6rem 0.75rem;
        width: fit-content;
        margin: 15vh auto 0;
        text-align: center;
        background-color: red;
        color: #fff;
        user-select: none;
    }
    h2 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 4.75rem;
        margin: 1rem 0 0.25rem;
        color: rgb(35, 35, 35);
        user-select: none;
    }
    .subheading {
        text-align: center;
        font-weight: 400;
        font-size: 1.3rem;
        color: rgb(125, 125, 125);
        font-family: "Montserrat", sans-serif;
    }
    .example_products-container {
        width: 82.5%;
        margin: 0vh auto 15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .product {
            width: calc(80%/3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 12.5vh;
            img {
                object-fit: cover;
                height: 300px;
                object-position: center center;
                overflow-x: visible;
                overflow-y: visible;
            }
            h3 {
                font-family: "Montserrat", sans-serif;
                font-size: 1.8rem;
                color: rgb(35, 35, 35);
                margin-top: 2.5rem;
            }
            .description {
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                color: rgb(115, 115, 115);
                font-weight: 400;
                text-align: center;
                margin-top: 0.5rem;
                width: 100%;
                line-height: calc(18px * 1.25);
            }
        }
    }
    .view_menu_button {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        margin: 5vh auto;
        border: 3px solid red;
        background-color: transparent;
        padding: 1.1rem 2rem;
        color: red;
        outline: none;
        cursor: pointer;
        transition: .175s ease-in-out;
        &:hover {
            background-color: red;
            color: #fff;
        }
    }
}